body {
  min-width: 1000px;
}
table {
  width: 100%;
  border-collapse: collapse;
}
th {
  border-top: 1px solid #000;
  background-color: #eee;
}
tr.conj {
  border-top: 1px solid #000;
  border-bottom: 1px solid #aaa;
}
tr.note {
  border-bottom: 1px solid #000;
  background-color: #eee;
}
td {
  padding-left: 5px;
  padding-right: 5px;
}
td,
th {
  border-left: 1px dotted #bbb;
  border-right: 1px dotted #bbb;
}
#noun3_header {
  background-color: #f8f8f8;
  border-bottom: 1px solid #000;
}
#noun3 td:nth-child(3),
#noun3 th:nth-child(3) {
  border-left: 3px double #888;
  border-right: 3px double #888;
}
.header {
  background-color: #f8f8f8;
}
td.important,
th.important {
  background-color: #e0e0e0;
}
.latin {
  font-family: "TexGyreSchola";
  font-size: 14px;
  line-height: 18px;
}
#verb .latin em {
  font-size: 20px;
  text-shadow: 1px 1px 0px #888;
}
#noun3 .latin em {
  font-size: 20px;
}
.latin .vowel {
  font-size: 20px;
}
.latin .vowel_a {
  color: #ff1209;
  text-shadow: 1px 1px 0px #ff8984;
}
.latin .vowel_la {
  color: #ff1209;
  text-shadow: 1px 1px 0px #b90700;
}
.latin .vowel_i {
  color: #e7ba33;
  text-shadow: 1px 1px 0px #f3dd99;
}
.latin .vowel_li {
  color: #e7ba33;
  text-shadow: 1px 1px 0px #b18a15;
}
.latin .vowel_u {
  color: #4a9e55;
  text-shadow: 1px 1px 0px #a0d3a7;
}
.latin .vowel_lu {
  color: #4a9e55;
  text-shadow: 1px 1px 0px #346f3b;
}
.latin .vowel_e {
  color: #0794ce;
  text-shadow: 1px 1px 0px #6fd2fa;
}
.latin .vowel_le {
  color: #0794ce;
  text-shadow: 1px 1px 0px #056890;
}
.latin .vowel_o {
  color: #9c29d5;
  text-shadow: 1px 1px 0px #ce94ea;
}
.latin .vowel_lo {
  color: #9c29d5;
  text-shadow: 1px 1px 0px #6d1d95;
}
.latin .default {
  color: #bbb;
  font-size: 12px;
}
.def .latin {
  font-size: 16px;
}
.expander_btn {
  width: 20px;
  text-align: center;
  cursor: pointer;
  border: 1px solid #888;
  background-color: #ddd;
  padding: 2px;
}
.conj_l1>td:first-child,
.note_l1>td:first-child {
  background-color: #ccc;
}
@font-face {
  font-family: "TeXGyreSchola";
  font-style: normal;
  font-weight: normal;
  src: local('TeXGyreSchola-Regular'), url("font/texgyreschola-regular.woff") format('woff');
}
@font-face {
  font-family: "TeXGyreSchola";
  font-style: normal;
  font-weight: bold;
  src: local('TeXGyreSchola-Bold'), url("font/texgyreschola-bold.woff") format('woff');
}
@font-face {
  font-family: "TeXGyreSchola";
  font-style: italic;
  font-weight: normal;
  src: local('TeXGyreSchola-Italic'), url("font/texgyreschola-italic.woff") format('woff');
}
@font-face {
  font-family: "TeXGyreSchola";
  font-style: italic;
  font-weight: bold;
  src: local('TeXGyreSchola-BoldItalic'), url("font/texgyreschola-bolditalic.woff") format('woff');
}
